asgiref==3.9.1
dj-database-url==3.0.1
Django==5.2.5
django-cors-headers==4.8.0
django-phonenumber-field==8.1.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
phonenumbers==9.0.13
# psycopg2-binary==2.9.10
psycopg[binary]
PyJWT==2.10.1
python-decouple==3.8
sqlparse==0.5.3
tzdata==2025.2
requests==2.33.1
cloudinary==1.33.0
django-cloudinary-storage==0.4.0
tses==0.3.0
