@import "tailwindcss";

/* Reset margins and ensure full-width layout */
body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}